API_URL="https://api-inference.huggingface.co/models/ZB-Tech/Text-to-Image"
API_KEY=
MYSQL_HOST=host
MYSQL_PORT=3306
MYSQL_DB=my_db
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_CHARSET=utf8mb4
MYSQL_PARSE_TIME=true
MYSQL_TIMEZONE=Asia/Tehran
MYSQL_MAX_CONNECTIONS=100
MYSQL_TIMEOUT=60s
MYSQL_POOL_SIZE=20
MYSQL_ENABLE_AUTO_RECONNECT=true
OBJECT_STORAGE_ACCESS_KEY=access-key
OBJECT_STORAGE_SECRET_KEY=secret-key
OBJECT_STORAGE_ENDPOINT=end-point
OBJECT_STORAGE_BUCKET_NAME=bucket-name
OBJECT_STORAGE_REGION=us-east-2
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=